html, body, #app {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ymaps.ymaps-2-1-74-islets_round-button .ymaps-2-1-74-islets__icon_only {
  display: none !important;
}