html, body, #app {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.hint{
  display: inline-block;
            padding: 5px;
            height: auto;
            position: relative;
            width: auto;
            font-size: 11px;
            line-height: 17px;
            color: #333333;
            background-color: #faefb6;
            border: 1px solid #CDB7B5;
            border-radius: 20px;
}